<html>
<head><title>{{ child_name }}'s Report for {{ date }}</title></head>
<body>
    {% if pictures | length > 0 %}
    <h1>Pictures!</h1>
    {% endif %}
    {% for p in pictures %}
    <img src="{{ p }}">
    {% endfor %}

    {% if diaper | length > 0 %}
    <h1>Diapers</h1>
    {% endif %}
    {% for d in diaper %}
    <h2>{{ d["when"] }}</h2>
    <span>{{ d["type"] }}{{ ", " + d["cream"] if d["cream"] }}</span>
    {% endfor %}

    {% if food | length > 0 %}
    <h1>Food</h1>
    {% endif %}
    {% for f in food %}
    <h2>{{ f["meal"] }}</h2>
    <ul>
        <li>{{ f["amount"] }}</li>
        <li>Milk: {{ f["milkAmount"] }} {{ f["milkUnits"] }}</li>
        <li>Water: {{ f["waterAmount"] }} {{ f["waterUnits"] }}</li>
    </ul>
    {% endfor %}

    {% if sleep | length > 0 %}
    <h1>Sleep</h1>
    {% endif %}
    {% for s in sleep %}
    <h2>{{ s["length"] }}</h2>
    <ul>
        {% if s["wakeTime"] %}
        <li>Woke up at: {{ s["wakeTime"] }}</li>
        {% endif %}
        {% if s["comments"] %}
        <li>Comments: {{ s["comments"] }}</li>
        {% endif %}
    </ul>
    {% endfor %}
</body>
</html>
