<html>
<head><title>{{ child_name }}'s Report for {{ date }}</title></head>
<body>
    <h1>{{ child_name }}'s Report for {{ date }}</h1>
    {% if pictures | length > 0 %}
    <h2>Pictures!</h2>
    {% endif %}
    {% for p in pictures %}
    <a href="{{ p }}"><img src="{{ p }}" style="max-width: 30%; height: auto"></a>
    {% endfor %}

    {% if diaper | length > 0 %}
    <h2>Diapers</h2>
    {% endif %}
    {% for d in diaper %}
    <h3>{{ d["when"] }}</h3>
    <span>{{ d["type"] }}{{ ", " + d["cream"] if d["cream"] }}</span>
    {% endfor %}

    {% if food | length > 0 %}
    <h2>Food</h2>
    {% endif %}
    {% for f in food %}
    <h3>{{ f["meal"] }}</h3>
    <ul>
        <li>{{ f["amount"] }}</li>
        <li>Milk: {{ f["milkAmount"] }} {{ f["milkUnits"] }}</li>
        <li>Water: {{ f["waterAmount"] }} {{ f["waterUnits"] }}</li>
    </ul>
    {% endfor %}

    {% if sleep | length > 0 %}
    <h2>Sleep</h2>
    {% endif %}
    {% for s in sleep %}
    <h3>{{ s["length"] }}</h3>
    <ul>
        {% if s["wakeTime"] %}
        <li>Woke up at: {{ s["wakeTime"] }}</li>
        {% endif %}
        {% if s["comments"] %}
        <li>Comments: {{ s["comments"] }}</li>
        {% endif %}
    </ul>
    {% endfor %}
</body>
</html>
