<html>
<head><title>{{ child_name }}'s Report for {{ date }}, Last Updated: {{ query_date }}</title></head>
<body>
    <h1>{{ child_name }}'s Report for {{ date }}, Last Updated: {{ query_date }}</h1>
    {% if pictures | length > 0 %}
    <h2>Pictures!</h2>
    {% endif %}
    {% for p in pictures %}
    <a href="{{ p }}"><img src="{{ p }}" style="max-width: 30%; height: auto"></a>
    {% endfor %}

    {% if diaper | length > 0 %}
    <h2>Diapers</h2>
    {% endif %}
    {% for d in diaper %}
    <h3>{{ d["when"] }}</h3>
    <span>{{ d["type"] }}{{ ", " + d["cream"] if d["cream"] }}</span>
    {% endfor %}

    {% if food | length > 0 %}
    <h2>Food</h2>
    {% endif %}
    {% for f in food %}

    {% if f["amount"] %}
    <h3>{{ f["meal"] }}: {{ f["menu"] }}</h3>
    <ul>
        <li>{{ f["amount"] }}</li>
        {% if f["milkAmount"] %}
        <li>Milk: {{ f["milkAmount"] }} {{ f["milkUnits"] }}</li>
        {% endif %}

        {% if f["waterAmount"] %}
        <li>Water: {{ f["waterAmount"] }} {{ f["waterUnits"] }}</li>
        {% endif %}
    </ul>
    {% endif %}

    {% endfor %}

    {% if sleep | length > 0 %}
    <h2>Sleep</h2>
    {% endif %}
    {% for s in sleep %}
    {% if not s["length"] %}
    <h3>Currently sleeping</h3>
    {% else %}
    <h3>{{ s["length"] }}</h3>
    {% endif %}
    <ul>
        {% if s["wakeTime"] %}
        <li>Woke up at: {{ s["wakeTime"] }}</li>
        {% endif %}
        {% if s["comments"] %}
        <li>Comments: {{ s["comments"] }}</li>
        {% endif %}
    </ul>
    {% endfor %}

    {% if schedule | length > 0 %}
    <h2>Programming</h2>
    {% endif %}

    {% for s in schedule %}
    <h3>{{ s["task_theme"] }}</h3>
    {{ s["task"] }}
    {% endfor %}

    {% if schedule2 | length > 0 %}
    {% for s in schedule2 %}

    {% if s["please_bring"] %}
    <h3>Please Participate by Bringing</h3>
    {{ s["please_bring"] }}
    {% endif %}

    {% if s["topic"] %}
    <h3>Topic</h3>
    {{ s["topic"] }}
    {% endif %}

    {% if s["word_of_the_week"] %}
    <h3>Word of the Week</h3>
    {{ s["word_of_the_week"] }}
    {% endif %}

    {% if s["educational_goal"] %}
    <h3>Educational Goal</h3>
    {{ s["educational_goal"] }}
    {% endif %}

    {% endfor %}
    {% endif %}

    {% if schedule3 | length > 0 %}
    {% for s in schedule3 %}

    {% if s["comments"] %}
    <h3>Comments</h3>
    {{ s["comments"] }}
    {% endif %}

    {% endfor %}
    {% endif %}

</body>
</html>
